<!DOCTYPE html>
<html>
<head>
	<title>lol-kitchen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<body>
<div class='loading'>
  <div class='loading_img'>
    <img src="<%=require('./assets/cz.png')%>" id="aa">
    <img src="<%=require('./assets/sz.png')%>" id='bb'>
    <img src="<%=require('./assets/amm.png')%>" id='cc'>
  </div>
  <div class='progress'>
    <p>---start loading---</p>
    <button id="enter_btn">click to enter</button>
  </div>
</div>
</body>
</html>